$gray1: #f5f5f5;
$gray2: #d3d3d3;
$gray2: #a9a9a9;
$gray4: #696969;

$green1: #00ff7f;
$green2: #3cb371;
$green3: #9acd32;
$green4: #228b22;

$blue1: #add8e6;
$blue2: #6495ed;
$blue3: #1e90ff;
$blue4: #4169e1;

$red1: #ff0000;
$red2: #cd5c5c;
$red3: #f08080;
$red4: #8b0000;
