@import '../../_style/mixin.scss';
@import '../../_style/var.scss';

@include b(anchor-link) {
  border-left: 2px solid #eee;
  padding: 4px 10px;

  span {
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    &:hover {
      color: $danger;
    }
  }
}
